<footer>
    <div class="footer ">
        <div class="placeholder">
            <div class="bussnis">
                <div><img class="bussinsman"
                        src="/main/img/SVG/1000_F_232879585_VrjtACAFvzHRuEP8fH8K5EhRkOThuS4G-removebg-preview (1).png" alt="">
                </div>
                <div>
                    <p> Mario</p>
                    <p>خدمة الزبائن</p>
                    <div> <img class="email-icon" src="/main/img/SVG/icons8-secured-letter-50.png" alt="">
                        <span> spy@technologist.com</span>
                    </div>
                    <div>
                        <img class="email-icon" src="/main/img/SVG/icons8-smartphone-24.png" alt="">
                        <span dir="ltr">+43 688 60553504</span>
                    </div>
                </div>
            </div>
            <!-- //////////////////////////////////////////// -->
            <div class="">
                <div class="form">
                    <div><input class="form-control form-control-lg " type="text"
                            placeholder="أدخل بريدك الإلكتروني واشترك بالنشرة الإعلاني "></div>
                    <div><button class="subsecraib">اشترك</button></div>
                </div>
                <div class="iconess">
                    <img class="icon1" src="/main/img/SVG/facebook-2815970_1920-removebg-preview.png " alt="">
                    <img class="icon1" src="/main/img/SVG/instagram-01-removebg-preview.png" alt="">
                    <img class="icon1" src="/main/img/SVG/YouTube_social_white_squircle.svg-removebg-preview.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row preview">
        <div class="col-lg-6 col-md-12">
            <div>
                <p class="para">يقدم متجرyour-spy الإلكتروني هدايا فريدة من نوعها والأروع مثل الأدوات وقمصان كرات
                    الديسكو
                    ذات الإضاءة الأصلية للحفلات، وإبازيم أحزمة LED متحركة قابلة للبرمجة، وفي متجر التجسس لدينا كاميرات
                    تجسس
                    مخفية، وعطور سائلة قوية ونافذة في متجر بوبرس ، والعديد من المنتجات الأخرى مثل كاميرات السيارة التي
                    يمكنك
                    شراؤها بسعر جيد لدينا. متجر إلكتروني معتمد - التسوق آمن فيyour-spy.online</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 unnamed">
            <div>
                <img class="promo" src="/main/img/SVG/fondy-removebg-preview.png" alt="">
                <img class="promo" src="/main/img/SVG/1200x630wa-removebg-preview.png" alt="">
                <img class="promo" src="/main/img/SVG/Mastercard-logo.svg-removebg-preview.png" alt="">
            </div>
            <div>
                <img class="promo" src="/main/img/SVG/fondy-removebg-preview.png" alt="">
                <img class="promo" src="/main/img/SVG/1200x630wa-removebg-preview.png" alt="">
                <img class="promo" src="/main/img/SVG/unnamed-removebg-preview.png" alt="">
                <img class="promo" src="/main/img/SVG/2560px-Apple_Pay_logo.svg-removebg-preview.png" alt="">
            </div>

        </div>
    </div>

    <div class="row preview">
        <div class="col-lg-6 col-md-12">
            <div>
                <p class="para">© Copyright 2010-2022 – your-spy.online</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 unnamed">
            <div>
                <span><a href="/"> متجر إلكتروني </a></span>
                <span><a href="/info"> معلومات عنا </a></span>
                <span><a href="/cond"> الأحكام والشروط </a></span>
                <span><a href="/contact"> راسلنا </a></span>
            </div>

        </div>
        <hr>
        <div>
            <span class="location">يستخدم هذا الموقع ملفات تعريف الارتباط لضمان عمل الموقع وللحصول على إحصائيات حركة
                المرور
                على الموقع</span>
            <span><a class="location" href="">مزيد من المعلومات .</a></span>
        </div>
    </div>
</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>