<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/main/css/style.css">
    <link rel="stylesheet" href="/main/css/media.css">
</head>
<%-include('includes/header')%>
    <!-- ///////////////////////// -->
    <p style="font-weight:500; margin-bottom: 3rem; font-size: 2rem;">راسلنا</p>
    <hr>
    <form action="/contact" method="post">
        <div class="arabic-forms">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">الاسم<span
                        style="color: #e10736">*</span></label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="يرجى كتابة اسمك الكامل">
            </div>
            <div class="form-arabic">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">البريد الإلكتروني <span
                            style="color: #e10736">*</span></label>
                    <input type="email" class="form-control form-control-2" id="exampleFormControlInput1"
                        placeholder="رجاء اكتب بريدك الإلكتروني " required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">الهاتف<span
                            style="color: #e10736">*</span></label>
                    <input type="tel" class="form-control form-control-2" id="exampleFormControlInput1"
                        placeholder="رجاء اكتب بريدك الإلكتروني " required>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">موضوع <span
                        style="color: #e10736">*</span></label>
                <input type="text" class="form-control " id="exampleFormControlInput1"
                    placeholder="الرجاء إدخال موضوع رسالتك" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">الرسالة <span
                        style="color: #e10736">*</span></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"
                    placeholder="الرجاء أكتب الرسالة" required></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-success">أرسل رسالة</button>
    </form>


    <!-- ///////////////////////////////////////////////////////////////// -->
    <div class="logos-text t-shirt">
        <!-- /////////////// -->
        <div class="photo-text">
            <img class="div-photo" src="/main/img/SVG/20210420_1618874819-762-removebg-preview.png"
                class="logo-remov1" />
            <p class="text-logo-remov">كسبنا جائزة "متجر العام" المرموقة</p>
        </div>
        <!-- //////////////// -->
        <!-- /////////////// -->
        <div class="photo-text">
            <img class="div-phot" src="/main/img/svg/download__3_-removebg-preview (1).png" class="logo-remov" />
            <p class="text-logo-remov">نحاول مساعدة المحتاجين</p>
        </div>
        <!-- //////////////// -->
        <!-- /////////////// -->
        <div class="photo-text">
            <img class="div-phoo" src="/main/img/SVG/logo-removebg-preview.png" class="logo-remov1" />
            <p class="text-logo-remov">حاصلة على شهادة ايزو الدولية QMS</p>
        </div>
        <!-- //////////////// -->
        <!-- /////////////// -->
        <div class="photo-text">
            <img src="/main/img/SVG/download__1_-removebg-preview.png" class="logo-remov" />
            <p class="text-logo-remov">
                تشترون من خلال برنامجنا الالكتروني بامان
            </p>
        </div>
        <!-- //////////////// -->
    </div>
    </div>

    <!-- </div> -->
    <%- include('includes/footer') %>
