<%- include('includes/head') %>
    <%- include('includes/nav') %>
        <!-- Big Div About Information -->
        <div class="page-iformation-about-us" style="margin-bottom: 2rem">
            <h1>
                <p>من نحن</p>
            </h1>
            <!-- ///////////////////////////////////////////////////////////// -->
            <div class="informations-div" style="direction: rtl; text-align: center; margin-bottom: 2rem">
                <h3>
                    <p>الشركة</p>
                </h3>
                <!-- ////////////////// details-information////////////////////////////-->
                <div class="details-information" style="margin-bottom: 2rem">
                    your-spyهي واحدة من أكبر متاجر الإنترنت لمنتجات الحفلات والأدوات
                    الإلكترونية. تأسست في عام 2009 ، يقع المقر الرئيسي لشركة your-spy
                    في سلوفاكيا (وسط أوروبا). مبادئنا بسيطة: منح المستهلكين والشركات ما
                    يريدون وقتما يريدون. لا نتوقف أبدًا عن التحسّن في عملنا ذا المستوى
                    العالمي من خلال وضع عملائنا - واحتياجاتهم - في المقام الأول
                </div>
                <!-- //////////////////End details-information////////////////////////////-->
                <!-- //////////////////img details-information////////////////////////////-->
                <!-- <img src="/main/img/0e818d798a883e44217b07bff98d66.jpg" class="شهادة" /> -->
                <!-- ///////////// -->
            </div>
            <!-- ///////////////////////////////////////////////////////////// -->
            <!-- ///////////////////////////////////////////////////////////// -->
            <div class="informations-div" style="direction: rtl; text-align: center; margin-bottom: 2rem">
                <h3>
                    <p>
                        Media Leaders Ltd. حاصل على شهادة نظام إدارة الجودة المعترف بها
                        دوليًا ISO 9001:2015
                    </p>
                </h3>
                <!-- //////////////////img details-information////////////////////////////-->
                <!-- <img src="/main/img/f1e78b70645a88492d15b4439f0a45 (1).jpg" class="شهادة" /> -->
                <!-- ///////////// -->
            </div>
            <!-- ///////////////////////////////////////////////////////////// -->
            <div class="informations-div" style="direction: rtl; text-align: center; margin-bottom: 2rem">
                <h3>
                    <p>المنتجات</p>
                </h3>
                <!-- ////////////////// details-information////////////////////////////-->
                <div class="details-information" style="margin-bottom: 2rem">
                    نقدم لزبائننا المئات من المنتجات ، قائمة فئات المنتجات وعروض
                    المنتجات لدينا تتزايد كل يوم. يعرف زبائن your-spyأنهم يحصلون على
                    أفضل الأسعار والعروض الحصرية على مجموعة كبيرة من المنتجات مثل أضواء
                    Led ، والأدوات ، والهدايا ، والتجسس ، والأزياء وغيرها الكثير.
                    بالإضافة إلى ذلك ، نقدم منتجات رائعة أخرى مثل قمصان LED وأسلاك Glow
                    El وما إلى ذلك.
                </div>
                <div class="details-information" style="margin-bottom: 2rem">
                    تعني علاقاتنا الرائعة مع جميع البائعين الرئيسيين, أن زبائننا سيجدون
                    دائمًا صفقات خاصة على المنتجات الرائعة من كل قسم من أقسام المنتجات.
                    ولمساعدة زبائننا في اختيار المنتجات المناسبة ، جعلنا من السهل معرفة
                    السعر, وتوفر المنتج, والمراجعات والتقييمات.
                </div>
                <!-- //////////////////End details-information////////////////////////////-->

                <!-- //////////////////img details-information////////////////////////////-->
                <!-- <img src="/main/img/92ac0884e789e43dfcf40161ff58c2.jpg" class="شهادة" /> -->
                <!-- ///////////// -->
            </div>
            <!-- <div class="three-grid-picture">
                <div>
                    <img src="/main/img/bd20218fed20d8cbb3492e3b842dd2 (1).jpg" alt="" style="width: 100%" />
                </div>
                <div>
                    <img src="/main/img/edfc27cacd0654d221395ede3bdb5c.jpg" alt="" style="width: 100%" />
                </div>
                <div>
                    <img src="/main/img/8c1b7f0882d30600074e8fd3450957.jpg" alt="" style="width: 100%" />
                </div>
            </div> -->
        </div>

        <!-- ///////////////////////////////////////////////// -->

        <!-- <div class="qualifiction">
    <div class="row">
      <div class="col-lg-3 col-sm-3">
        <div>
          <div class="div-photo">
            <img class="div-photo" src="/main/img/SVG/20210420_1618874819-762-removebg-preview.png" alt="" />
          </div>
          <p>كسبنا جائزة "متجر العام" المرموقة</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div>
          <div class="div-photo">
            <img class="div-phot" src="/main/img/svg/download__3_-removebg-preview (1).png" alt="" />
          </div>
          <p>نحاول مساعدة المحتاجين</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div>
          <div class="div-photo">
            <img class="div-phoo" src="/main/img/SVG/logo-removebg-preview.png" alt="" />
          </div>
          <p>حاصلنا على شهادة أيزو الدولية QMS</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div>
          <div class="div-photo">
            <img class="dv-photo" src="/main/img/SVG/attachment_84852789-removebg-preview.png" alt="" />
          </div>
          <p>كسبنا جائزة "متجر العام" المرموقة</p>
        </div>
      </div>
    </div>
  </div> -->
        <!-- //////////////////////////////////// -->
        <%- include('includes/footer') %>