<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main/css/bootstrap.rtl.min.css">
  <link rel="stylesheet" href="/main/css/style.css">
  <link rel="stylesheet" href="/main/css/media.css">
</head>
<%- include('includes/header')%>
  <!-- ///////////////////////////////////// -->
  <div class="container">
    <h1 class="data-enter">سجل دخول</h1>
    <hr>
    <form action="/login" method="post">
      <%if(msg){%>
        <div class="mb-3 row">
          <label for="" class="form-label" style="color: red;">
            <%=msg%>
          </label>
        </div>
        <%}%>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">بريد إلكتروني:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="staticEmail" name="email" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">كلمة المرور:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" name="password" required>
            </div>
          </div>
          <div>
          </div>
          <div class="puut"><button class="loginput" type="submit" onclick="loginReq()">سجل دخول</button></div>
    </form>
  </div>
  <div class="qualifiction">
    <div class="row">
      <div class="col-lg-3 col-sm-3">
        <div>
          <div class="div-photo"><img class="div-photo" src="img/SVG/20210420_1618874819-762-removebg-preview.png"
              alt=""></div>
          <p>كسبنا جائزة "متجر العام" المرموقة</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div>
          <div class="div-photo"><img class="div-phot" src="img/svg/download__3_-removebg-preview (1).png" alt=""></div>
          <p>نحاول مساعدة المحتاجين</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div>
          <div class="div-photo"><img class="div-phoo" src="img/SVG/logo-removebg-preview.png" alt=""></div>
          <p>حاصلنا على شهادة أيزو الدولية QMS</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div>
          <div class="div-photo"><img class="dv-photo" src="img/SVG/attachment_84852789-removebg-preview.png" alt="">
          </div>
          <p>كسبنا جائزة "متجر العام" المرموقة</p>
        </div>
      </div>
    </div>
  </div>
  <!-- //////////////////////////////////// -->

  <!-- </div> -->
  <%- include('includes/footer') %>
