<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main/css/bootstrap.rtl.min.css">
  <link rel="stylesheet" href="/main/css/style.css">
  <link rel="stylesheet" href="/main/css/media.css">
</head>
<%-include('includes/header')%>
  <!-- /////////////////// -->
  <h1>
    <p class="register">register</p>
  </h1>
  <div>
    <div class="login-face-book"
      style="background-color: #45619d; align-items:center center; padding: 10px; display: flex;     justify-content: center; width: 50%; margin: auto;">
      <h2 style="color:#fff; font-weight: 300; margin-left: 10px; text-align: center;">Login With FaceBook</h2>
      <img src="img/facebook.png" style="width:30px; height: 30px;" alt="">
    </div>
  </div>

  <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
  <form class="forms-inputs" id="signupForm" action="/signup" method="post">
    <div class="login">
      <h2 style="color: #c82f88;">Login data</h2>
    </div>
    <div class="form-group row mb-2">
      <label for="inputEmail3" class="col-sm-2 col-form-label">E-mail <span style="color: #c82f88;">*</span></label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" name="email">
      </div>
    </div>
    <div class="form-group row mb-2">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password <span
          style="color: #c82f88;">*</span></label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" name="password">
      </div>
    </div>

    <div class="form-group row mb-2">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Passwordagain<span
          style="color: #c82f88;">*</span></label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" name="password">
      </div>
    </div>

    <!-- //////////////////////////////////////// -->

    <!-- ///////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="login">
      <h2 style="color: #c82f88;">Invoice data</h2>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Name <span style="color: #c82f88;">*</span></label>
      <div class="col-sm-10 mb-2">
        <input type="text" class="form-control" id="inputEmail3" name="name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Surname <span style="color: #c82f88;">*</span></label>
      <div class="col-sm-10 mb-2">
        <input type="text" class="form-control" id="inputEmail3" name="surname">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Address <span style="color: #c82f88;">*</span></label>
      <div class="col-sm-10 mb-2">
        <input type="text" class="form-control" id="inputEmail3" name="address">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">City <span style="color: #c82f88;">*</span></label>
      <div class="col-sm-10 mb-2">
        <input type="text" class="form-control" id="inputEmail3" name="city">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Zip Code <span style="color: #c82f88;">*</span></label>
      <div class="col-sm-10 mb-2">
        <input type="text" class="form-control" id="inputEmail3" name="zip">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Country <span style="color: #c82f88;">*</span></label>
      <div class="col-sm-10 mb-2">
        <input type="text" class="form-control" id="inputPassword3" name="country">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Phone <span style="color: #c82f88;">*</span></label>
      <div class="col-sm-10 mb-2">
        <input type="tel" class="form-control" id="inputPassword3" name="phone">
      </div>
    </div>



  </form>
  <!-- ////////////////////////////////// -->
  </div>
  <div class="form-group group-check  ">


    <div class="form-check  group-check" style="width: 80%; margin:auto">
      <label class="form-check-label" for="invalidCheck">
        I accept terms and conditions
      </label>
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required class="  group-check">

      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
      <br>
      <button class="btn btn-primary  mt-2" type="button" onclick="signupReq()">Register</button>
    </div>
  </div>

  </div>

  <!-- ///////////////////////////////////////////////////////////////// -->
  <div class="logos-text t-shirt">


    <!-- /////////////// -->
    <div class="photo-text">
      <img class="div-photo" src="img/SVG/20210420_1618874819-762-removebg-preview.png" class="logo-remov1">
      <p class="text-logo-remov">كسبنا جائزة "متجر العام" المرموقة</p>
    </div>
    <!-- //////////////// -->
    <!-- /////////////// -->
    <div class="photo-text">
      <img class="div-phot" src="img/svg/download__3_-removebg-preview (1).png" class="logo-remov">
      <p class="text-logo-remov">نحاول مساعدة المحتاجين</p>
    </div>
    <!-- //////////////// -->
    <!-- /////////////// -->
    <div class="photo-text">
      <img class="div-phoo" src="img/SVG/logo-removebg-preview.png" class="logo-remov1">
      <p class="text-logo-remov">حاصلة على شهادة ايزو الدولية QMS </p>
    </div>
    <!-- //////////////// -->
    <!-- /////////////// -->
    <div class="photo-text">
      <img src="img/SVG/download__1_-removebg-preview.png" class="logo-remov">
      <p class="text-logo-remov">تشترون من خلال برنامجنا الالكتروني بامان</p>
    </div>
    <!-- //////////////// -->


  </div>



  </div>


  <!-- </div> -->
  <footer>
    <div class="footer ">
      <div class="placeholder">
        <div class="bussnis">
          <div><img class="bussinsman"
              src="img/SVG/1000_F_232879585_VrjtACAFvzHRuEP8fH8K5EhRkOThuS4G-removebg-preview (1).png" alt=""></div>
          <div>
            <p> Mario</p>
            <p>خدمة الزبائن</p>
            <div> <img class="email-icon" src="img/SVG/icons8-secured-letter-50.png" alt="">
              <span> m.bruchanik@cool-mania.eu</span>
            </div>
            <div>
              <img class="email-icon" src="img/SVG/icons8-smartphone-24.png" alt="">
              <span> +421 907 211 712</span>
            </div>
          </div>
        </div>
        <!-- //////////////////////////////////////////// -->
        <div class="">
          <div class="form">
            <div><input class="form-control form-control-lg " type="text"
                placeholder="أدخل بريدك الإلكتروني واشترك بالنشرة الإعلاني "></div>
            <div><button class="subsecraib">اشترك</button></div>
          </div>
          <div class="iconess">
            <img class="icon1" src="img/SVG/facebook-2815970_1920-removebg-preview.png " alt="">
            <img class="icon1" src="img/SVG/instagram-01-removebg-preview.png" alt="">
            <img class="icon1" src="img/SVG/YouTube_social_white_squircle.svg-removebg-preview.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row preview">
      <div class="col-lg-6 col-md-12">
        <div>
          <p class="para">يقدم متجركوول مانيا الإلكتروني هدايا فريدة من نوعها والأروع مثل الأدوات وقمصان كرات الديسكو
            ذات الإضاءة الأصلية للحفلات، وإبازيم أحزمة LED متحركة قابلة للبرمجة، وفي متجر التجسس لدينا كاميرات تجسس
            مخفية، وعطور سائلة قوية ونافذة في متجر بوبرس ، والعديد من المنتجات الأخرى مثل كاميرات السيارة التي يمكنك
            شراؤها بسعر جيد لدينا. متجر إلكتروني معتمد - التسوق آمن في Cool-mania.com.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 unnamed">
        <div>
          <img class="promo" src="img/SVG/fondy-removebg-preview.png" alt="">
          <img class="promo" src="img/SVG/1200x630wa-removebg-preview.png" alt="">
          <img class="promo" src="img/SVG/Mastercard-logo.svg-removebg-preview.png" alt="">
        </div>
        <div>
          <img class="promo" src="img/SVG/fondy-removebg-preview.png" alt="">
          <img class="promo" src="img/SVG/1200x630wa-removebg-preview.png" alt="">
          <img class="promo" src="img/SVG/unnamed-removebg-preview.png" alt="">
          <img class="promo" src="img/SVG/2560px-Apple_Pay_logo.svg-removebg-preview.png" alt="">
        </div>

      </div>
    </div>

    <div class="row preview">
      <div class="col-lg-6 col-md-12">
        <div>
          <p class="para">© Copyright 2010-2022 – Media Leaders s.r.o.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 unnamed">
        <div>
          <span><a href=""> متجر إلكتروني </a></span>
          <span><a href=""> معلومات عنا </a></span>
          <span><a href=""> الأحكام والشروط </a></span>
          <span><a href=""> مقالات </a></span>
          <span><a href=""> راسلنا </a></span>
          <span><a href=""> تواصل معنا </a></span>
        </div>

      </div>
      <hr>
      <div>
        <span class="location">يستخدم هذا الموقع ملفات تعريف الارتباط لضمان عمل الموقع وللحصول على إحصائيات حركة المرور
          على الموقع</span>
        <span><a class="location" href="">مزيد من المعلومات .</a></span>
      </div>
    </div>
  </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="/main/js/signup.js"></script>
  </body>

</html>